/* ここからヘッダー */
body {
  font-family: "Noto Sans JP", sans-serif;
}
.header {
  display: flex;
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  z-index:1;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.lineHeader{
  display: none;
}
.headerSite{
  display:none;
}
.posseLogo {
  padding-left: 10px;
  z-index: 90;
}
.topHeader {
  display: flex;
}
a {
  text-decoration: none;
}
.topPage {
  margin-right: 32px;
  margin-top: 15px;
}
.topQuiz {
  margin-top: 15px;
}
.ulLogo {
  display: flex;
  list-style: none;
}
.ulSNS{
  display: flex;
  list-style: none;
  padding-right: 24px;
}
.twitter {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px #000;
  text-align: center;
}
.twitterIcon {
  width: 25px;
  height: 20px;
  transform: translate(0px, 15px);
}
.instagram {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  margin-right: 22px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px #000;
  text-align: center;
}
.instagramIcon {
  width: 24px;
  height: 24px;
  transform: translate(0px, 13px);
}
a {
  color: black;
}
#headerButtonClick {
  display: none;
}

/* ここからheroページ */
.itHero {
  background-image: url(../img/bg-hero.png);
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  padding-top: 200px;
  padding-bottom: 40px;
}
.quizHero {
  width: 984px;
  margin: 0 auto;
}
.posseAssessment {
  font-size: 18px;
  margin: 0 auto;
}
.itQuiz {
  font-size: 60px;
  margin-top: 12px;
  margin-bottom: 150px;
}
/* ここからQ1ページ */
.main {
  width: 984px;
  margin: 0 auto;
}
.quizOne {
  width: 100%;
  margin-bottom: 128px;
}
.quizIcon {
  background-color: #0071bc;
  border-radius: 8px;
  color: white;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 36px;
  width: 80px;
  height: 70px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px 8px 14px;
  margin-bottom: 24px;
}
#quizQuiz {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
}
.quizMain {
  text-align: center;
  margin-top: 64px;
}
.quizPicture {
  width: 700px;
}
.answerIconBack {
  width: 60px;
  height: 70px;
  background-color: #e34e70;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 12px 16px 8px 16px;
}
.answerIcon {
  font-size: 36px;
  color: white;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: bold;
}
.quizBlock {
  width: 100%;
}
.quizAnswer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  background-image: none;
}
#quizAnswer > li >button{
  border: solid 5px rgb(227, 224, 224);
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 19px;
  line-height: 1.8;
  width: 300px;
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  background-image:url('../img/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10% bottom 50%;
}
#quizAnswer > li > button.correct{
  background-color: #dcebf5;
  border:solid 5px #0071BC;
  background-image: none;
}
#arrow {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
.answerResultFalse {
  display: none;
  background-color: rgb(233, 243, 248);
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px 40px;
}
.result {
  color: rgb(55, 102, 255);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.answerResultRight{
  display: none;
  background-color:rgb(255, 242, 245);
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px 40px;
}
.resultRight{
  color:rgb(227, 78, 112);
}
.answerBlock {
  display: flex;
  align-items: baseline;
}
.answerFont {
  font-size: 24px;
  font-weight: bold;
}
.answerText {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18px;
}

.quizCite {
  display: none;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  width: 100%;
  height:80px;
  background-image: url('../img/icon-note.png');
  background-repeat: no-repeat;
  padding-left: 75px;
  font-weight: bold;
  font-size: 18px;
  background-position: left 3% bottom 50%;
}

/* ここからLINEmainページ */
.lineMain {
  background: url(../img/bg-line.png);
  border-radius: 56px;
  height: 357px;
  padding: 68px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  margin-bottom: 136px;
  font-weight: bold;
}
.lineMain::before {
  background-color: rgb(0, 113, 201);
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  border-radius: 56px;
  position: absolute;
}
.lineLm {
  align-items: center;
}
.lineMainIcon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  left: 300px;
}
.lineM {
  display: flex;
  justify-content: center;
}
.lineTitle {
  position: absolute;
  font-size: 36px;
  color: white;
}
.lineMainText {
  position: absolute;
  text-align: center;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1.8;
  color: white;
}
.lineWhite {
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 50px;
  width: 320px;
  height: 50px;
  align-items: center;
  justify-content: center;
  top: 250px;
  left: 34%;
}
.lined {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 30px;
  top: 40%;
}
.lineMainLink {
  align-items: center;
  background-color: white;
}
/* ここからフッター */
/* ここからPOSSEロゴフッター */
.footer {
  margin: 0 auto;
}
.posseLogoFooter {
  text-align: center;
}
.topFooterPage {
  list-style: none;
  text-align: center;
  margin-top: 25px;
}
.tiFooter {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  list-style: none;
  margin-bottom: 84px;
}
.twitterFooter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px #000;
  text-align: center;
}
.twitterIconFooter {
  width: 25px;
  height: 20px;
  transform: translate(0px, 15px);
}
.instagramFooter {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px #000;
  text-align: center;
}
.instagramIconFooter {
  width: 24px;
  height: 24px;
  transform: translate(0px, 13px);
}
.copyRight {
  text-align: center;
  margin-bottom: 32px;
}
